<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    <%= content.title %>
  </title>
  <link href="/css/prism.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
</head>

<body>
  <div class="container">
    <%- include('../partials/header.ejs') %>
      <div class="main">
        <%- body %>
      </div>
    <%- include('../partials/footer.ejs') %>
  </div>
  <script src="/js/prism.js"></script>
  <script src="/js/script.js"></script>
</body>

</html>
